/*Making the page responsive*/

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) and (min-width: 0px) and (max-width: 768px) {
  .background-normal {
    display: none;
  }

  .background-streach {
    display: block;
  }

  .upperMsg {
    width: 100%;
  }

  .upperMsg img {
    width: 15%;
    height: 15%;
    margin-top: 20%;
  }

  .popInfo {
    font-size: 0.8em;
    width: 75%;
    margin-left: 4.5%;
    margin-top: 20%;
  }

  .contentbox {
    /*border: solid green; /*  */
    width: 70%;
    height: auto;
    padding-bottom: 20%;
    margin-right: 0%;
  }

  .slideshow {
    /*border: solid red;*/
    height: 10%;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .question {
    font-size: 1rem;
    color: black;
  }

  #question-wrapper {
    margin-top: 0%;
    font-size: 1rem;
    color: black;
  }

  #options-wrapper {
    /*border: solid pink;*/
    display: flex;
    justify-content: center;
    width: 90%;
  }

  #topMsg {
    font-size: 2rem;
    margin-top: 20%;
  }

  #finalMsg {
    width: 85%;
    margin-right: 0;
  }

  .evaluate {
    border: none;
    font-size: 1rem;
    padding: 3%;
  }

  .option {
    width: 100%;
    border-radius: 35px;
    margin: 2% 1.5%;
    padding: 1%;
  }

  .option p {
    font-size: small;
  }

  .modal-container {
    top: 24%;
    background: none;
  }
  .modal {
    width: 70%;
    box-shadow: none;
    padding-top: 2.5%;
  }

  .modal p {
    font-size: 0.6rem;
  }

  .fox-icon {
    top: 45%;
    left: 50%;
    width: 210px;
  }
}

@media only screen and (min-device-width: 370px) and (max-device-height: 851px) {
  .modal {
    height: 30%;
    margin-top: 26%;
    height: 50%;
  }

  #close {
    font-size: 0.5rem;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {
  .modal {
    height: 20%;
    margin-top: 1%;
  }

  #close {
    font-size: 0.5rem;
  }
}

@media only screen and (min-device-width: 390px) and (max-device-height: 896px) {
  .modal {
    height: 20%;
    margin-top: 2%;
  }
  #close {
    font-size: 0.5rem;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {
  .modal {
    height: 20%;
    margin-top: 2%;
  }
}

@media only screen and (min-device-width: 412px) and (max-device-height: 915px) {
  .modal {
    height: 20%;
    margin-top: 2%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1536px) {
  .modal {
    height: 50%;
  }

  .modal p {
    font-size: 1.5rem;
  }

  .fox-icon {
    right: 3.5%;
    top: 13%;
    width: 770px;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-height: 768px) {
  .modal {
    height: 50%;
    margin-top: 16%;
  }

  .fox-icon {
    right: 3.5%;
    top: 13%;
    width: 680px;
  }
}
